body {
    background-color: lightgray;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
    width: 590px;
}

.navigation {
    margin-top: 20px;
}

.user-container {
    padding: 10px 0;
    border-top: 1px solid #f1f2f2;
    border-bottom: 1px solid #f1f2f2;
}

.user-container .user-name {
    margin-left: 10px;
}

.user-container .disabled {
    color: gray;
}
